@if (article()) {


  <mat-card class="@container/newsfeed p-2 !rounded-lg">
    <div class="@lg:grid grid-rows-3 grid-flow-col gap-2">
      <div class="row-span-3 order-last grid place-items-center">
        @if (imageUrl()) {
          <img
            class="w-full xs:w-52 rounded-[10px] xs:ml-auto"
            [src]="imageUrl()"
            [alt]="article().title"/>
        }
      </div>
      <div class="row-span-2 col-span-2">
        <mat-card-header>
          <div>
            <div>
              <h3 class="text-lg font-bold mr-4">{{ article().title }}</h3>
            </div>
            <div>

              @if (article().author) {
                <span class="text-sm font-thin">
              {{ 'von ' + article().author + ' ' }}
            </span>
              }
              <span>| </span>
              @if (article()!.date) {
                <time
                  class="text-sm font-thin"
                  [dateTime]="article()!.date"
                >
                  {{ article()!.date| date: 'longDate' }}
                </time>
              }
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <p class="line-clamp-4" [innerHTML]="article().content | markdown"></p>
        </mat-card-content>
      </div>
      <div class="col-span-2 justify-self-left">
        <mat-card-actions>
          <button
            mat-flat-button
            color="accent"
            routerLink="/articles/{{ article().uid }}"
          >
            Weiterlesen
          </button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
}
