<div class="!flex !items-center" mat-dialog-title>
  <h2>Add a new Article</h2>

  <!-- 
  <input
    (change)="onFileSelected($event)"
    accept="image/png, image/gif, image/jpeg"
    name="image"
    type="file"
    class="ml-4"
  />
  -->

  <button
    aria-label="close dialog"
    class="ml-auto"
    mat-dialog-close
    mat-icon-button
    role="button"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <form [formGroup]="editArticleForm" class="grid">
    <mat-form-field>
      <input
        autocomplete="off"
        formControlName="title"
        matInput
        placeholder="Title"
        type="text"
      />
      <mat-error *ngIf="editArticleForm.get('title')?.hasError('required')">
        Please enter a title
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        autocomplete="off"
        formControlName="subtitle"
        matInput
        placeholder="Subtitle"
        type="text"
      />
      <mat-error *ngIf="editArticleForm.get('subtitle')?.hasError('required')">
        Enter a subtitle here
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        autocomplete="off"
        formControlName="author"
        matInput
        placeholder="Author"
        type="text"
      />
      <mat-error *ngIf="editArticleForm.get('author')?.hasError('required')">
        Please enter your/author's name
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        autocomplete="off"
        formControlName="content"
        matInput
        placeholder="Content"
      ></textarea>
      <mat-error *ngIf="editArticleForm.get('content')?.hasError('required')">
        Add content here
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        autocomplete="off"
        formControlName="date"
        matInput
        placeholder="Date"
        type="datetime-local"
      />
      <mat-error *ngIf="editArticleForm.get('date')?.hasError('required')">
        Please enter a date
      </mat-error>
    </mat-form-field>
    <button
      (click)="onSaveArticle()"
      class="mt-2"
      color="primary"
      mat-flat-button
    >
      Save
    </button>
  </form>
</mat-dialog-content>
