@use "@angular/material" as mat;
@use "m3-theme" as theme;

@tailwind base;
@tailwind components;
@tailwind utilities;

$light-theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
    )
);

$dark-theme: mat.define-theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
    )
);

// Example
$light-theme: theme.$light-theme;
$dark-theme: theme.$dark-theme;


@include mat.core();


body {
  @include mat.all-component-themes($light-theme);

  .mat-primary {
    @include mat.button-color($light-theme, $color-variant: primary);
  }

  .mat-secondary {
    @include mat.button-color($light-theme, $color-variant: secondary);
  }

  .mat-tertiary {
    @include mat.button-color($light-theme, $color-variant: tertiary);
  }

  .mat-error {
    @include mat.button-color($light-theme, $color-variant: error);
  }

  mat-toolbar {
    background: mat.get-theme-color($light-theme, surface-container-highest) !important;
  }

  mat-sidenav {
    background: mat.get-theme-color($light-theme, surface-container-high) !important;
  }

}

body.dark {
  @include mat.all-component-colors($dark-theme);

  .mat-primary {
    @include mat.button-color($dark-theme, $color-variant: primary);
  }

  .mat-secondary {
    @include mat.button-color($dark-theme, $color-variant: secondary);
  }

  .mat-tertiary {
    @include mat.button-color($dark-theme, $color-variant: tertiary);
  }

  .mat-error {
    @include mat.button-color($dark-theme, $color-variant: error);
  }

  mat-toolbar {
    background: mat.get-theme-color($dark-theme, surface-container-highest) !important;
  }

  mat-sidenav {
    background: mat.get-theme-color($dark-theme, surface-container-high) !important;
  }

}


/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  --mat-dialog-headline-padding: 9px 24px !important;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

*, *::after, *::before {
  box-sizing: border-box;
}

a {
  @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
}


.mat-mdc-snack-bar-container.error > * {
  background: #a30800 !important;

  .mat-mdc-snack-bar-label {
    color: white !important;
  }

  .mat-mdc-snack-bar-action {
    color: white !important;
  }

  color: white !important;
}

.mat-mdc-snack-bar-container.success > * {
  background: forestgreen !important;

  .mat-mdc-snack-bar-label {
    color: white !important;
  }

  .mat-mdc-snack-bar-action {
    color: white !important;
  }

  color: white !important;
}

.mat-mdc-snack-bar-container.warn > * {
  background: #f07224 !important;

  .mat-mdc-snack-bar-label {
    color: white !important;
  }

  .mat-mdc-snack-bar-action {
    color: white !important;
  }

  color: white !important;
}

.mat-mdc-snack-bar-container.info > * {
  .mat-mdc-snack-bar-label {
    color: white !important;
  }

  .mat-mdc-snack-bar-action {
    color: white !important;
  }

  color: white !important;
}

.dark {
  .mat-mdc-snack-bar-container.info > * {
    .mat-mdc-snack-bar-label {
      color: black !important;
    }

    .mat-mdc-snack-bar-action {
      color: black !important;
    }

    color: black !important;
  }
}

// Typography for markdown content
.markdown {
  @apply prose dark:prose-invert
}



