<mat-card class="m-5 !rounded-lg p-6 gap-6">
  <div class="flex items-baseline">
    <h3 class="text-3xl font-bold text-center">{{ title() }}</h3>
    @if (limit() === 0) {
      <app-search-field [(searchString)]="filterString" class="ml-auto"></app-search-field>
    }

  </div>
  @for (article of filteredArticles(); track article) {
    <app-newsfeed [article]="article"></app-newsfeed>
  }
  @if (articles().length > limit() && limit() !== 0) {
    <div class="flex justify-center p-5">
      <button mat-flat-button color="accent" routerLink="/articles">
        Weitere Artikel
      </button>
    </div>
  }

</mat-card>
