<app-shell>
  <router-outlet></router-outlet>
  <!-- <app-article
    [article]="{
      title: 'Some Example',
      author: 'author',
      content: 'remove me asap when routing is implemented',
      subtitle: 'subtitle',
      date: '2024-04-26',
      image: {
        url: 'https://i.ytimg.com/vi/8u_LOAN9Su0/maxresdefault.jpg',
        alt: 'alt'
      },
      id: '1'
    }"
  >
  </app-article> -->
  <app-info-page
    [infotext]="{
      title: 'Some Example',
      content: 'remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove remove ',
      schedule: [
        {

          time: '16:00 - 17:00 Uhr',
          age: '4 - 6 Jahre'
        },
        {
          time: '17:00 - 18:00 Uhr',
          age: '7 - 8 Jahre'
        },
        {
          time: '18:00 - 19:00 Uhr',
          age: '9 - 11 Jahre'
        },
        {
          time: '19:00 - 20:00 Uhr',
          age: '12 - 14 Jahre'
        },
        {
          time: '20:00 - 21:30 Uhr',
          age: '15 - 80 Jahre'
        }],
      schedule_title: 'Trainingszeiten',
      schedule_days: 'Montag und Freitag'

    }">
    </app-info-page>
  <app-markdown-playground> </app-markdown-playground>
</app-shell>
