<app-shell>
  <router-outlet></router-outlet>
  <app-contact   [contact]="{
    street:'Beethovenstr. 18a',
    location:'47226 Duisburg-Rheinhausen',
    additionalDescription:'im Regenbogenhaus',
    titleContact: 'Kontakt',
    titleLocation: 'Trainingshalle',
    titleMap: 'Karte',
    content:'Wir freuen uns auf Fragen und Mitteilungen! Sendet einfach eine E-Mail oder ruft an.',
    email: 'info@atemschulung-griepentrog.de',
    name: 'Peter Griepentrog',
    telephone: 'Tel.: 020 65 - 67 96 31',
    fax: 'Fax: 020 65 - 6 38 41',
    mobil: 'Mobil: 0170 - 90 42 408',
  }">
</app-contact>

  <!-- <app-article
    [article]="{
      title: 'Some Example',
      author: 'author',
      content: 'remove me asap when routing is implemented',
      subtitle: 'subtitle',
      date: '2024-04-26',
      image: {
        url: 'https://i.ytimg.com/vi/8u_LOAN9Su0/maxresdefault.jpg',
        alt: 'alt'
      },
      id: '1'
    }"
  >
  </app-article> -->
  <app-markdown-playground> </app-markdown-playground>
</app-shell>
