<div class="@container/landingpage">
  <div class="@lg/landingpage bg-slate-900">
    <div class="bg-slate-800 flex justify-center text-white">
      <img
        class="min-w-fit"
        src="https://tv.orf.at/program/orf1/kungfupanda-aufmach100~_v-epg__large__16__9_-5412e775eb65789c908def5fa9fdf24a7b895a8f.jpg"
        alt="Description of the image"
      />
    </div>

    <div class="flex flex-row bg-slate-800 p-10 text-white">
      <div class="basis-1/2">
        <h1 class="text-xl font-bold">About</h1>
        <br />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
          dolore autem magnam quos deleniti tempore veniam, nulla perferendis
          alias dolorum non nostrum amet excepturi laboriosam laudantium
          provident. Maxime, itaque ipsa.<br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
          dolore autem magnam quos deleniti tempore veniam, nulla perferendis
          alias dolorum non nostrum amet excepturi laboriosam laudantium
          provident. Maxime, itaque ipsa.
        </p>
      </div>
      <div class="basis-1/2 flex justify-end px-20">
        <img
          src="https://s-media-cache-ak0.pinimg.com/236x/ff/a4/11/ffa4116b4db241296e9afc20c1c5131c.jpg"
          alt="Description of the image"
        />
      </div>
    </div>

    <div class="px-30 round bg-black">
      <div
        class="bg-slate-800 flex flex-col items-center gap-4 round p-10 text-white"
      >
        <div class="flex flex-row content-end">
          <div class="basis-2/3">
            <h1 class="text-lg font-bold">Überschrift 1</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
              optio exercitationem suscipit, ad veniam ipsa, natus cumque maxime
              reprehenderit nisi pariatur? Doloremque exercitationem repudiandae
              illo, mollitia ipsa accusamus enim? Vitae.
            </p>
          </div>
          <div class="basis-1/3 flex justify-end px-20">
            <img
              class="max-h-24"
              src="https://s-media-cache-ak0.pinimg.com/236x/ff/a4/11/ffa4116b4db241296e9afc20c1c5131c.jpg"
              alt="Description of the image"
            />
          </div>
        </div>
        <div class="flex flex-row">
          <div class="basis-2/3">
            <h1 class="text-lg font-bold">Überschrift 2</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
              optio exercitationem suscipit, ad veniam ipsa, natus cumque maxime
              reprehenderit nisi pariatur? Doloremque exercitationem repudiandae
              illo, mollitia ipsa accusamus enim? Vitae.
            </p>
          </div>
          <div class="basis-1/3 flex justify-end px-20">
            <img
              class="max-h-24"
              src="https://s-media-cache-ak0.pinimg.com/236x/ff/a4/11/ffa4116b4db241296e9afc20c1c5131c.jpg"
              alt="Description of the image"
            />
          </div>
        </div>
        <div class="flex flex-row">
          <div class="basis-2/3">
            <h1 class="text-lg font-bold">Überschrift 3</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
              optio exercitationem suscipit, ad veniam ipsa, natus cumque maxime
              reprehenderit nisi pariatur? Doloremque exercitationem repudiandae
              illo, mollitia ipsa accusamus enim? Vitae.
            </p>
          </div>
          <div class="basis-1/3 flex justify-end px-20">
            <img
              class="max-h-24"
              src="https://s-media-cache-ak0.pinimg.com/236x/ff/a4/11/ffa4116b4db241296e9afc20c1c5131c.jpg"
              alt="Description of the image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
