<div mat-dialog-title class="!flex !items-center">
  <h2>Reset your Password</h2>
  <button mat-icon-button aria-label="close dialog" class="ml-auto" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <div class="@container grid gap-5 @md:p-3 @lg:p-6 max-w-full w-96">
    <form class="grid" [formGroup]="formGroup">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" autocomplete="username"/>
        @if (formGroup.get('username')?.hasError('required')) {
          <mat-error>Please enter an username address</mat-error>
        }
        @if (formGroup.get('username')?.hasError('username')) {
          <mat-error>Please enter a valid username address</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="E-Mail" formControlName="email" autocomplete="email"/>
        @if (formGroup.get('email')?.hasError('required')) {
          <mat-error>Please enter an email address</mat-error>
        }
        @if (formGroup.get('email')?.hasError('email')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password1" autocomplete="current-password"/>
        @if (formGroup.get('password1')?.hasError('required')) {
          <mat-error>Please enter a password</mat-error>
        }
        @if (formGroup.get('password1')?.hasError('minlength')) {
          <mat-error>Password must be at least 8 characters long</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Confirm Password" type="password" formControlName="password2" autocomplete="current-password"/>
        @if (formGroup.get('password2')?.hasError('required')) {
          <mat-error>Please enter a password</mat-error>
        }
        @if (formGroup.get('password2')?.hasError('notEqual')) {
          <mat-error>Passwords do not match</mat-error>
        }
        @if (formGroup.get('password2')?.hasError('minlength')) {
          <mat-error>Password must be at least 8 characters long</mat-error>
        }
      </mat-form-field>

      <button class="mt-2" mat-flat-button color="primary" type="submit" [disabled]="isLoading" (click)="onSignUp()">
        Register Now
      </button>
    </form>
    <mat-divider></mat-divider>
    <button mat-flat-button color="accent" (click)="onGoogleSignIn()">
      Login with Google
    </button>
  </div>
</mat-dialog-content>
  