@if (article()) {
  <article role="article" class="flex flex-col gap-3 justify-between">
    <div>
      <div class="grid gap-3 grid-cols-1 @4xl:grid-cols-2 items-end">
        <div>
          <h2
            role="heading"
            class="text-3xl @md:text-4xl @lg:text-5xl @xl:text-6xl @2xl:text-7xl font-bold mb-2">
            {{ article()!.title }}
          </h2>
          @if (article()!.subtitle) {
            <p
              class="text-xl @md:text-2xl @lg:text-3xl @xl:text-4xl @2xl:text-5xl font-thin">
              {{ article()!.subtitle }}
            </p>
          }
          <div class="flex gap-3">
            @if (article()!.author) {
              <address
                class="text-md @md:text-lg @lg:text-xl @xl:text-2xl @2xl:text-3xl font-semibold text-gray-400"
              >
                {{ article()!.author }}
              </address>
            }
            @if (article()!.author && article()!.date) {
              <span
                class="text-md @md:text-lg @lg:text-xl @xl:text-2xl @2xl:text-3xl font-semibold text-gray-400"
                aria-hidden="true"
              >
              |
            </span>
            }
            @if (article()!.date) {
              <time
                class="text-md @md:text-lg @lg:text-xl @xl:text-2xl @2xl:text-3xl font-semibold text-gray-400"
                [dateTime]="article()!.date"
              >
                {{ article()!.date| date: 'longDate' }}
              </time>
            }
          </div>
        </div>
        <div class="relative">
          @if (imageUrl()) {
            <img
              role="img"
              class="rounded w-full @md:h-auto"
              [src]="imageUrl()"
              [alt]="article()!.title"
              width="1280"
              height="720"
            />
            <div
              class="absolute  bg-gradient-to-t from-custom_white dark:from-custom_dark object-center bottom-0 w-full h-full"
            ></div>
          }
        </div>
      </div>
      @if (!preview()) {
        <app-like-counter [(isLiked)]="article()!.liked" [likes]="article()!.likes ?? 0" (click)="onLike()">
        </app-like-counter>
      }

      <div class="w-full grid lg:grid-cols-2 gap-3">
        <div class="mt-8 mx-auto" [innerHTML]="article()!.content | markdown"></div>
        @if (!preview()) {
          <div class="mt-12">
            <h3 class="font-bold text-xl pb-1">{{ comments().length }} Comments</h3>
            <form [formGroup]="commentForm">
              <mat-form-field class="w-full pb-3">
                <mat-label>Comment</mat-label>
                <textarea formControlName="comment" matInput placeholder="Add a comment" #commentField
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5"
                ></textarea>
                <mat-hint align="end">
                  <span>{{ commentField.textLength }}/{{ commentMaxLength }}</span>
                </mat-hint>
              </mat-form-field>
              @if (commentForm.touched && commentField.value !== '') {
                @if (commentForm.get('comment')?.hasError('required')) {
                  <mat-error>Comment is required</mat-error>
                } @else if (commentForm.get('comment')?.hasError('minlength')) {
                  <mat-error>Comment must be at least 3 characters</mat-error>
                } @else if (commentForm.get('comment')?.hasError('maxlength')) {
                  <mat-error>Comment must be at most 500 characters</mat-error>
                }
              }

              @if (commentField.value !== '') {
                <div class="flex gap-3 justify-end pb-3">
                  <button mat-button color="error" type="button" (click)="commentForm.reset()">Clear</button>
                  <button mat-flat-button color="primary" type="submit" (click)="onAddComment()">Submit</button>
                </div>
              }
            </form>

            <div class="flex flex-col space-y-6">
              @for (comment of comments(); track comment.uid) {
                <app-single-comment [comment]="comment"
                                    (commentChange)="onCommentChange($event)"></app-single-comment>
              }
            </div>
          </div>
        }
      </div>

    </div>
  </article>
} @else {
  <div class="flex justify-center items-center h-96">
    <p class="text-2xl font-bold">No article found</p>
  </div>
}
