<div class="@container/userVerwaltung grid gap-3">
  <div>
    <h1 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold pb-8">
      User Verwaltung
    </h1>
  </div>
  @for (user of user(); track user) {
    <mat-card>
      <mat-card-content>

        <div class="grid grid-cols-2 pb-3">
          <p>Username: {{ user.username }}</p>
          <p>E-mail: {{ user.email }}</p>
          <p>Role: {{ user.role }}</p>
          <p>activated: {{ user.activated }}</p>
        </div>
      </mat-card-content>
      <mat-card-actions>


        <div class="flex gap-3">
          <button mat-flat-button (click)="changeUserRole(user.uid, user.role)">
            <mat-icon>{{ user.role === UserRole.USER ? 'admin_panel_settings' : 'person' }}</mat-icon>
            {{ user.role === UserRole.USER ? 'Give Admin role' : 'Give User role' }}
          </button>
          <button mat-stroked-button color="secondary" (click)="banUser(user.uid, user.activated)">
            <mat-icon>{{ user.activated ? 'block' : 'check_circle' }}</mat-icon>
            {{ user.activated ? 'Ban' : 'Unban' }}

          </button>
          <button mat-stroked-button color="error" (click)="deleteUser(user.uid)">
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </div>
      </mat-card-actions>

    </mat-card>
  }
</div>
