<main>
  <div class="@container">
    <div class="grid gap-8 grid-cols-1 md:grid-cols-2">
      <div class="grid gap-6 grid-rows-[2fr_1fr]">
        <section class="text-base md:text-lg lg:text-xl xl:text-2xl">
          <h1 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold">
            {{ contact().titleContact }}
          </h1>
          <ul>
            <li class="py-4">{{ contact().content }}</li>
            <address>

              <li>{{ contact().name }}</li>
              <li>
                <a
                  href="mailto:{{ contact().email }}"
                  class="text-blue-500 hover:underline"
                >{{ contact().email }}</a
                >
              </li>
              <li>
                <a
                  href="tel:{{ contact().mobile }}"
                  class="text-blue-500 hover:underline"
                >{{ contact().mobile | telefon:'mobil' }}</a
                >
              </li>
              <li>
                <a
                  href="tel:{{ contact().telephone }}"
                  class="text-blue-500 hover:underline"
                >{{ contact().telephone | telefon:'tel' }}</a
                >
              </li>
              <li>
                <a
                  href="tel:{{ contact().fax }}"
                  class="text-blue-500 hover:underline"
                >{{ contact().fax | telefon:'fax' }}</a
                >
              </li>
            </address>
          </ul>
        </section>
        <section class="text-base md:text-lg lg:text-xl xl:text-2xl">
          <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold">
            {{ contact().titleLocation }}
          </h2>
          <address>
            <ul>
              <li>{{ contact().street }}</li>
              <li>{{ contact().location }}</li>
              <li>{{ contact().additionalDescription }}</li>
            </ul>
          </address>
        </section>
      </div>
      <section>
        <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold">
          {{ contact().titleMap }}
        </h2>
        <iframe
          class="w-full h-64 md:h-80 lg:h-96 xl:h-112 2xl:h-128"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          id="gmap_canvas"
          src="https://maps.google.com/maps?width=771&amp;height=573&amp;hl=en&amp;q=Beethovenstra%C3%9Fe%2018A%20Duisburg+()&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ></iframe>
      </section>
    </div>
  </div>
</main>
