<div class="@container/landingpage">
  <div class="@lg/landingpage">
    <div class="flex justify-center">
      <img
        class="min-w-fit"
        src="https://tv.orf.at/program/orf1/kungfupanda-aufmach100~_v-epg__large__16__9_-5412e775eb65789c908def5fa9fdf24a7b895a8f.jpg"
        alt="Description of the image"
      />
    </div>

    <div class="flex flex-row p-10">
      <div class="basis-1/2">
        <div class="flex-row space-y-5">
          <h1 class="text-xl font-bold">About</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            dolore autem magnam quos deleniti tempore veniam, nulla perferendis
            alias dolorum non nostrum amet excepturi laboriosam laudantium
            provident. Maxime, itaque ipsa.<br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            dolore autem magnam quos deleniti tempore veniam, nulla perferendis
            alias dolorum non nostrum amet excepturi laboriosam laudantium
            provident. Maxime, itaque ipsa.
          </p>
          <button mat-flat-button color="accent">Mehr erfahren</button>
        </div>
      </div>
      <div class="basis-1/2 flex justify-end px-20">
        <img
          src="https://s-media-cache-ak0.pinimg.com/236x/ff/a4/11/ffa4116b4db241296e9afc20c1c5131c.jpg"
          alt="Description of the image"
        />
      </div>
    </div>
    <!--TODO for-loop-->
    <mat-card class="m-5 !rounded-lg">
      <app-newsfeed></app-newsfeed>
      <app-newsfeed></app-newsfeed>
      <app-newsfeed></app-newsfeed>

      <div class="flex justify-center p-5">
        <button mat-flat-button color="accent">Weitere Artikel</button>
      </div>
    </mat-card>
  </div>
</div>
