<div class="@container/landingpage">
  <div class="@lg/landingpage">
    <div class="flex justify-center relative">
      <img
        class="w-full h-64 lg:h-96 object-cover"
        [src]="landingpageimage.url"
        [alt]="landingpageimage.alt"
      />
      <div
        class="absolute bg-gradient-to-t from-custom_white dark:from-custom_dark object-center bottom-0 w-full h-56"
      ></div>
    </div>
    <div
      class="grid md:grid-rows-1 md:grid-cols-3 grid-cols-1 gap-8 p-16 pt-5 pb-0"
    >
      <div
        class="col-span-1 justify-self-center align-middle md:order-last order-first"
      >
        <img
          alt="Über uns Bild"
          class="md:w-48 w-96 align-middle"
          src="https://live.staticflickr.com/5608/31259001616_2528010d7f_b.jpg"
        />
      </div>
      <div class="col-span-2">
        <h1 class="text-xl font-bold">Über uns</h1>
        <p class="pt-5">
          {{ landingpagetext }}
        </p>
        <div class="pt-5">
          <button mat-flat-button color="accent" routerLink="/contact">
            Kontakt
          </button>
        </div>
      </div>
    </div>
    <!--TODO for-loop-->
    <app-articlelist></app-articlelist>
  </div>
</div>
