<div mat-dialog-title class="!flex !items-center">
  <h2>Reset your Password</h2>

  <button
    mat-icon-button
    role="button"
    aria-label="close dialog"
    class="ml-auto"
    mat-dialog-close
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <div class="@container grid gap-5 @md:p-3 @lg:p-6 max-w-full w-96">
    <form class="grid" [formGroup]="resetPasswordForm">
      <mat-form-field>
        <input
          matInput
          placeholder="E-Mail"
          type="email"
          formControlName="email"
          autocomplete="email"
        />
        @if (resetPasswordForm.get('email')?.hasError('required')) {
          <mat-error>Please enter an email address</mat-error>
        }
        @if (resetPasswordForm.get('email')?.hasError('email')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        class="mt-2"
        (click)="onResetPassword()"
      >
        Reset Now
      </button>
    </form>
  </div>
</mat-dialog-content>
