<div class="grid gap-6">
  <h1 class="font-bold text-lg">This Page is for demonstrating components</h1>
  <div>
    <h2 class="text-xl">Markdown Component</h2>
    <app-markdown-playground></app-markdown-playground>
  </div>
  <div>
    <h2 class="text-xl"> Like counter</h2>
    <app-like-counter></app-like-counter>

  </div>
  <div>
    <p>
      <mat-slide-toggle>.slide me too!</mat-slide-toggle>
    </p>
    <p>
      <mat-slide-toggle labelPosition="before">...and slide me too!</mat-slide-toggle>
    </p>
  </div>
  <div>
    <h2 class="text-xl">Testing Material Button</h2>
    <section>
      <div class="example-label">Basic</div>
      <div class="example-button-row">
        <button mat-button>Basic</button>
        <button color="primary" mat-button>Primary</button>
        <button color="accent" mat-button>Accent</button>
        <button color="warn" mat-button>Warn</button>
        <button disabled mat-button>Disabled</button>
        <a href="https://www.google.com/" mat-button target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Raised</div>
      <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button color="primary" mat-raised-button>Primary</button>
        <button color="accent" mat-raised-button>Accent</button>
        <button color="warn" mat-raised-button>Warn</button>
        <button disabled mat-raised-button>Disabled</button>
        <a href="https://www.google.com/" mat-raised-button target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Stroked</div>
      <div class="example-button-row">
        <button mat-stroked-button>Basic</button>
        <button color="primary" mat-stroked-button>Primary</button>
        <button color="accent" mat-stroked-button>Accent</button>
        <button color="warn" mat-stroked-button>Warn</button>
        <button disabled mat-stroked-button>Disabled</button>
        <a href="https://www.google.com/" mat-stroked-button target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Flat</div>
      <div class="example-button-row">
        <button mat-flat-button>Basic</button>
        <button color="primary" mat-flat-button>Primary</button>
        <button color="accent" mat-flat-button>Accent</button>
        <button color="warn" mat-flat-button>Warn</button>
        <button disabled mat-flat-button>Disabled</button>
        <a href="https://www.google.com/" mat-flat-button target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Icon</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button aria-label="Example icon button with a vertical three dot icon" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
          <button aria-label="Example icon button with a home icon" color="primary" mat-icon-button>
            <mat-icon>home</mat-icon>
          </button>
          <button aria-label="Example icon button with a menu icon" color="accent" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
          <button aria-label="Example icon button with a heart icon" color="warn" mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button aria-label="Example icon button with a open in new tab icon" disabled mat-icon-button>
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </div>
    </section>

  </div>
  <article class="prose lg:prose-xl dark:prose-invert">
    <h1>Garlic bread with cheese: What the science tells us</h1>
    <p>
      For years parents have espoused the health benefits of eating garlic bread with cheese to their
      children, with the food earning such an iconic status in our culture that kids will often dress
      up as warm, cheesy loaf for Halloween.
    </p>
    <p>
      But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
      springing up around the country.
    </p>
    <!-- ... -->
  </article>
  <div>
    <app-calendar #calendarComponent (selectedDate)="newSelectedEvent($event)" [events]="events"></app-calendar>
    <div> selected Event: {{ selectedEvent?.title }}</div>
  </div>
</div>
